@use"../utils/mixin";

.explorer {
    padding: 1rem 2rem 4rem;
    text-align: center;
    background-color: #f3f3f3;

    & button {
       @include mixin.base-button;
        
       
       
       
       
    &:hover {
           background: linear-gradient(to top,#c986d4, #c2bcc2);
           box-shadow: 2px 10px 8px -3px #110d0d;
       }
    }
}