@use"../utils/mixin";

.explorer {
    padding: 1rem 2rem 4rem;
    text-align: center;
    background-color: #f3f3f3;

    & button {
       @include mixin.base-button;
        
    }
    
  
        
   
}