@use"../utils/mixin";

.explorer {
    padding: 1rem 2rem 4rem;
    text-align: center;
    background-color: #f3f3f3;

    & button {
       @include mixin.base-button;
        
       
       
       
       
    &:hover {
           background: linear-gradient(to top,#c986d4, #c2bcc2);
           box-shadow: 2px 10px 8px -3px #110d0d;
       }
    }
}
.loader{
    background-color:#ffff;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.9;
    animation: dispear 3s ease-in-out ;
    animation-fill-mode: both;
    
    &::after{
        content: "";
        height: 50px;
        width: 50px;
        border: 5px solid #f3f3f3;
        border-bottom:5px solid #8e44ad;
        border-top:5px solid #2c3e50;
        border-left: 5px solid #f39c12;
        border-right: 5px solid #2ecc71;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        animation: spin 1.5s linear ;
    }
}
@keyframes dispear {
    0%{
        transform: translateY(1);
        
    

    }
    100%{
        transform: translateY(0);
        opacity: 0;
        z-index: 0;
    
        
        }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}