
@import "../utils/zoom";
.list{
    padding-top: 1rem;
    counter-reset: etapes;
    padding-inline-start: 1rem;
    & h1{
        font-weight: 600;
        font-size: 1.3rem;
    }
    & ol{
        display: grid;
        grid-row-gap: 1.5rem;
        padding-inline-start: 0;
        padding-inline-end: 1rem;
        padding-bottom: 2.5rem;

    }
    & li{
        position: relative;
        &::before{
            content: counter(etapes);
            counter-increment: etapes;
            color: white;
            background-color: #9356DC;
            width: 1.5rem;
            height: 1.5rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: 1.2rem;
            left: -0.6rem;
        }
      font-family: Roboto;
      font-weight: 500;
      background-color: #f6f6f6;
      padding: 1.3rem 2rem;
      text-align: center;
      gap: 2rem;
      list-style: none;
      border-radius: 1rem;
      @include base-shadow;
      &:hover{
          @include zoom;
        }
        & i.fas{
            position: absolute;
            color: gray;
            left: 2rem;
            top: 1.5rem;
        }

    }
}