@use "../utils/mixin";

.list{
    padding-top: 1rem;
    counter-reset: etapes;
    padding-inline-start: 1rem;
    @media (min-width:760px) {
        padding: 1rem 2rem;
        
    }
    & h1{
        font-weight: 600;
        font-size: 1.3rem;
    }
    & ol{
        display: grid;
        grid-row-gap: 1.5rem;
        padding-inline-start: 0;
        padding-inline-end: 1rem;
        padding-bottom: 2.5rem;
        @media (min-width:760px) {
            display: flex;
            gap: 6rem;
            
        }

    }
    & li{
        position: relative;
        font-family: Roboto;
        font-weight: 500;
        background-color: #f6f6f6;
        padding: 1.3rem 2rem;
        text-align: center;
        gap: 2rem;
        list-style: none;
        border-radius: 1rem;
        cursor: pointer;
        box-shadow: 2px 1px 8px -3px #110d0d;
        @media (min-width:760px) {
            flex-grow: 1;
            
        }
        
        &::before{
            content: counter(etapes);
            counter-increment: etapes;
            color: white;
            background-color: #9356DC;
            width: 1.5rem;
            height: 1.5rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: 1.2rem;
            left: -0.6rem;
            @media (min-width:760px) {
                bottom: 1.2rem;
                
            }
        }
        & i.fas{
            position: absolute;
            color: gray; 
            left: 2rem;
            top: 1.5rem;
            @media (min-width:760px) {
                left: 1.3rem;
                top:1.4rem;
                
                
            }
        }
        &:hover{
            

                box-shadow: 2px 10px 8px -3px #110d0d;
            
          & i.fas{
              color:#9356DC ;
          }
        
        }

    }
}