
@use "../utils/color";
@use "../utils/mixin";
@use "../utils/_animation";
.menus{
    background-color:color.$lightgrey;
    padding: 1rem 1rem 5rem 1rem;
    @media (min-width:760px) {
        padding: 1rem 2rem 5rem 2rem;
        
    }
    & h1{
        font-weight: 600;
        font-size: 1.3rem;
    }
}
.menus__cards {
        display: grid;
        gap: 1rem;
        @media (min-width:760px) {
            display: grid;
            gap: 5rem;
            grid-template-columns: repeat(2,1fr);
            
        }
    
    
    
    .card {
        position: relative;
        border-radius: 1rem;
        background-color: white;
        overflow: hidden;
        text-decoration: none;
        box-shadow: 2px 1px 8px -3px #110d0d;
        &.Nouveau {
            position: relative;
        }
        &.Nouveau::before{
            content: "Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            background-color: color.$color-tertiary;
            display: grid;
            place-items: center;
            top: 1rem;
            right: 1rem;
            color: #008766
        }
        & .card__imag {
            height: 14rem;
            width: 100%;
            object-fit: cover;
        }
        & h2 {
            color: black;
            font-size: 1rem;
            font-weight: 600;
            margin-left: 1rem;
            margin-bottom: 0;
        }
        & p {
            color: black;
            margin-left: 1rem;
            margin-top: 0.3rem;
            
        }

        & ::before{
           @include mixin.heart;
        }
        & ::after {
            @include mixin.heart;
            font-weight: 900;
            transform: scale(0);
            color:#FF79DA ;; 
            transition: transform 500ms ease-in-out;  
            transform-origin:bottom;
        }
        
        
    }
    & :hover::after{
        
        transform:scale(1);
           
    }
}