.city{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #eaeaea;;
    padding: 1rem;
    & h1{
        font-size: 1rem;
        text-align: center;
        margin: 0px;
    }
}