

footer {
    background-color: #353535;
    padding: 0 2rem 1rem;
    & .logo{
        width: 6rem;
        filter: brightness(2000%);
        top: 1.5rem;
    }
    & ul{
        display:flex;
        flex-direction: column;
        gap: 0.3rem;
        list-style: none;
        padding-left: 0;
        color: white;
        margin-bottom: 0;
        
        @media (min-width:765px) {
            display: flex;
            gap: 4rem;
            flex-direction:revert;
            padding-bottom: 0.5rem;
        
        }
        & li{
            cursor: pointer;
            font-weight: 400;
            i.fas {
                font-size: 0.9rem;
                margin-right: 0.3rem;
                
            }
            a {
                text-decoration: none;
                color: white;
                

            }
        }
    
    }
}
